<div id="playing">
    <form action="index.php"
          method="post">
        <fieldset>
            <legend>Il te reste <span id="remaining-trials">0</span> essais pour sauver ta peau
            </legend>
            <div>
                <label for="select-letter">Choisis ta lettre</label>
                <select name="select-letter"
                        id="select-letter">
                        <?php ?>
                </select>
                <input type="submit"
                       value="essayer cette lettre">
            </div>
        </fieldset>
    </form>
</div>
